name: Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  run:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Pip install dependencies
      shell: bash -l {0}
      run: |
        python3 -m pip install --upgrade pip
        pip3 install -r requirements.txt
        pip3 install -r dev_requirements.txt

    - name: Install turfpy
      shell: bash -l {0}
      run: pip3 install .

    - name: Lint check
      shell: bash -l {0}
      run: |
        make clean
        make lint
        make typing

    - name: Test check
      shell: bash -l {0}
      run: pytest -v --durations=10 --cov-report=xml --cov=turfpy tests

    - name: Build docs (Only on Linux for saving time)
      if: matrix.os == 'ubuntu-latest'
      shell: bash -l {0}
      run: sh scripts/build_apiref.sh